$primary-color: black;
$accent-color: grey;
$text-color: white;
$violet: rgb(99, 26, 134);
$fuschia: #C45AB3;
$rose: #F45866;
$coral: #F49390;
$dust: #A2666F;
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);